*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    margin: 0;
 }


.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}

.fs-25 {
    font-size: 25px;
}
.fs-28 {
    font-size: 28px;
}

.fs-30 {
    font-size: 30px;
}

.fs-35 {
    font-size: 35px;
}
.fs-40 {
    font-size: 40px;
}
.fs-45 {
    font-size: 45px;
}
.fs-50 {
    font-size: 50px;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-size: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}

.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}
.mr-30 {
    margin-right: 30px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-30 {
    margin-left: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}

.mb-30 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mt-10 {

    margin-top: 10px;
}
.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px !important;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-60 {
    padding-top: 60px;
}
.pb-40 {
    padding-bottom: 40px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-10 {
    padding-bottom: 10px;
}
.pr-5 {
    padding-right: 5px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-30 {
    padding-right: 30px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pr-100 {
    padding-right: 100px;
}
.pr-20 {
    padding-right: 20px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-15 {
    padding-left: 15px;
}
.line-height {
    line-height: 40px;
}
.b-r {
    border-radius: 8px;
}

.gray {
    color: gray;
}
.white {
    color: white;
}

.black {
    color: black;
}
.blue {
    color: #283a5ae6;
}
.light-blue {
    color: #47b2e4;
}
.green {
    color: #28a745;
}
.cursor-pointer {
    cursor: pointer;
}
.border-circle {
    border-radius: 50%;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

/*Nav bar start*/

.bg-blue {
    background-color: #283a5ae6;
    z-index: 50;
}
.nav-btn {
    border-radius: 25px;
    font-weight: 500;
    color: white;
    border: 2px solid #47b2e4;
    padding: 8px 20px;
    background-color: transparent;
}
.nav-btn:hover {
    background-color:#47b2e4 ;
}
.navbar-dark .navbar-brand {
    font-size: 30px;
    font-weight: 500;
}
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.nav-effect {
    color: white !important;
}
.nav-effect:hover {
    color: #47b2e4 !important ;
}


/*Nav bar closed*/

/*header start*/
.header {
    background-color: #283a5ae6;
    width: 100%;
    margin-top: 71px;
}
.header-heading {
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.header-heading-2 {
    font-size: 22px;
    font-weight:600;
    padding-bottom: 40px;
    color: #ffffff99;

}
.header-btn {
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 500;
    background-color: #47b2e4;
    border: none;
}
.watch-btn {
    color: white;
}
.watch-btn:hover {
    color:#47b2e4 ;
}
.header-foot {
    background-color: #f3f5fa;
    width: 100%;
}

/*header closed*/

/*section-1 start*/

.section-1-btn {
    padding: 7px 30px;
    border: 2px solid;
    font-weight: 500;
}

/*section-1 closed*/


/*section-2 start*/

.section-2 {
   background-color: #f3f5fa;
}
.sec-2-img {
    padding-top: 150px;
    padding-bottom: 150px;
}
.section-2-detail {
    padding: 120px;
}
.sec-2-detail-box {
    width: 100%;
    height: 65px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.sec-2-detail-box-detail {
  cursor: pointer;
}
.sec-2-detail-box-detail:hover {
    color: #47b2e4 ;
}

/*section-2 closed*/

/*section-3 start*/

.section-3-img {
    padding-bottom: 100px;
    padding-top: 100px;
}
.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #4668a2;
    margin-top: 7px;
}
.progress-bar-90 {
    width: 90%;
    height: 10px;
    background-color: #4668a2;
}
.progress-bar-10 {
    width: 10%;
    height: 10px;
    background-color: #e8edf5;
}
.progress-bar-75 {
    width: 75%;
    height: 10px;
    background-color: #4668a2;
}
.progress-bar-25 {
    width: 25%;
    height: 10px;
    background-color: #e8edf5;
}
.progress-bar-55 {
    width: 55%;
    height: 10px;
    background-color: #4668a2;
}
.progress-bar-45 {
    width: 45%;
    height: 10px;
    background-color: #e8edf5;
}


/*section-3 closed*/


/*section-4 start*/

.section-4 {
    width: 100%;
    background-color: #f3f5fa;
    padding-bottom: 65px;
}

.sec-4-box {
    width: 23%;
    box-shadow: 0px 0px 20px gainsboro;
    transition: 0.5s;
}
.sec-4-box:hover {
    transform: translateY(-8px);
}


/*section-4 closed*/


/*section-5 start*/

.section-5 {
    background-image:  linear-gradient(45deg,#283a5ae6, #283a5ae6), url("../img/cta-bg.jpg");
    width: 100%;
    height: 55vh;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.section-5-btn {
    border: 2px solid;
    border-radius: 25px;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 40px;
}
.section-5-btn:hover{
 border: 2px solid #47b2e4 ;
 background-color: #47b2e4;
 color: white;
}

/*section-5 closed*/

/*section-6 start*/

.section-6-btn {
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    padding: 3px 21px;
    border: none;
    background-color: transparent;
    margin: 5px;
}
.section-6-btn:hover {
    background-color: #47b2e4 ;
    color: white;
}
.section-6-img {
    width: 33%;
}
.sec-6-img {
    transition: 0.5s;
}
.sec-6-img:hover{
    transform: scale(1.05);
} 


/*section-6 closed*/

/*section-7 start*/
 
.section-7 {
    width: 100%;
    background-color: #f3f5fa;
    padding-bottom: 40px;
}
.section-7-box {
    width: 49%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0pc 20px gainsboro;
    margin-bottom: 27px;
    padding-bottom: 5px;
    transition: 0.5s;
}
.section-7-box:hover {
    transform: translateY(-8px);
}

.sec-7-img {
   width: 35%;
}
.card-link {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #f3f5fa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #283a5ae6 ;
}
.card-link:hover {
    background-color: #47b2e4 ;
    color: white;
}


/*section-7 closed*/

/*section-8 start*/

.section-8-box {
    width: 32%;
    background-color: white;
    box-shadow: 0px 0pc 20px gainsboro;
    border-radius: 5px;
    padding: 60px 40px;
}

/*section-8 closed*/

/*section-9 start*/
 
.section-9 {
    width: 100%;
    background-color: #f3f5fa;
    padding-bottom: 60px;
}
.section-9-box {
    width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.section-9-box:hover {
    color: #47b2e4 ;
}


/*section-9 closed*/


/*section-10 start*/

.form-wrapper {
    padding: 30px 25px;
    background-color: white;
    box-shadow: 0px 0px 20px gainsboro;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
}
.contact-info {
    padding: 30px 25px;
    background-color: white;
    box-shadow: 0px 0px 20px gainsboro;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
}
.location-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e7f5fb;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #47b2e4;
}
.location-icon:hover {
    color: white;
    background-color: #47b2e4 ;
}
.map {
    background-color: black;
    width: 100%;
    height: 256px;
}


/*section-10 closed*/


/*section-11 start*/

.section-11 {
    width: 100%;
    background-color: #f3f5fa ;
    padding-bottom: 50px;
}
.section-11-input {
    width: 40%;
    height: 42px;
    border-radius: 25px;
    border: none;
}
.sec-11-input {
        display: inline-block;
        width: 40%;
        background: white;
        border-radius: 25px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 2px;
    
 }
.sub-btn {
        position: absolute;
        right: 0px;
 }


/*section-11 closed*/

/*footer-start*/

.address {
    line-height: 26px;
}
.footer-detail {
    color: gray;
    font-size: 14px;
    cursor: pointer;
}
.footer-detail:hover {
    color: #47b2e4 ;
}
.footer-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #47b2e4  ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-right: 8px;
}
.footer-icon:hover {
    background-color: #1e92c9;
}

/*footer-closed*/

@media only screen and (max-width: 768px) {


    .section-2-detail {
        padding: 0px;
    }
    .sec-4-box {
        margin-bottom: 30px;
        width: 100%;
    }

    .section-4 {
        margin-top: 50px;
        padding-bottom: 40px;
    }

    .section-6-img {
        width: 100%;
    }

    .section-7-box {
        width: 100%;
    }
    .section-8-box {
        width: 100%;
        margin-bottom: 30px;
    }
    .section-9-box {
        width: 100%;
    }
    .contact-info {
        margin-bottom: 50px;
    }                
    .sec-11-input {
        width: 90%;
    }    
    .header-heading {
        font-size: 27px;
        text-align: center;
    }    
    .header-heading-2 {
        font-size: 16px;
        padding-bottom: 20px;
        text-align: center;
    }
    .header {
        padding-bottom: 30px;
    }
    .sec-2-img {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-3-img {
        padding-bottom: 0px;
        padding-top: 50px;
    }
    .pb-80 {
        padding-bottom: 50px;
    }
    .pb-5 {
        padding-bottom: 1rem!important;
    }
    .section-7 {
        padding-bottom: 0px;
    }

}